[submodule "crypto-dyno"]
	path = crypto-dyno
	url = git@github.com:drewjenkins/crypto-dyno.git

[submodule "crypto-keeper-ui"]
	path = crypto-keeper-ui
	url = git@github.com:drewjenkins/crypto-keeper-ui.git

[submodule "serverless"]
  path = serverless
  url = git@github.com:drewjenkins/crypto-keeper-serverless.git
